@import "_variable";
@import "header";

.callme {
  color: $color;
  font-family: $font-family;
  font-size:20px;
  text-align: center;
}

.form-button {
  height: fit-content;
  max-width: 528px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(252, 129, 60, 0.25);
  border-radius: 30px;
  margin: auto;
  margin-top: 100px;
  padding: 30px 0 45px 0;
}


.content-button {
  width: 100%;
  margin-top: 30px;
  height: fit-content;
}

button {
  display: block;
  margin: auto;
  height: 48px;
  width: 50%;
  margin-top: 40px;
  border-radius: 30px;
  border: none;
  outline:none;
  transition: 0.2s;
}

button > img {
  height:inherit;
}

.vk {
background-color:$bgcolorvk;
box-shadow: 0 0 10px $bgcolorvk;
}
.tg {
  background-color: $bgcolortg;
  box-shadow: 0 0 10px $bgcolortg;
}

.git {
background-color:$bgcolorgithub;
box-shadow: 0 0 10px $bgcolorgithub
}

@media only screen and (max-width: 650px) {
  .form-button {
    background-color: white;
    box-shadow: none;
  }  
  button {
    width: 70%;
  }
  .form-button {
    margin-top: 50px;
  }
  button {
    min-width: 70%;
  }
}

.vk:hover {
  width: 47%;
  box-shadow: 0 0 7px $bgcolorvk;
}

.tg:hover {
  width: 47%;
  box-shadow: 0 0 7px $bgcolortg;
}
.git:hover {
  width: 47%;
  box-shadow: 0 0 7px $bgcolorgithub;
}

button:active {
opacity: 0.7;
}