<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" type="image/png" sizes="16x16" href="../pictures/Logo.png">
  <link rel="stylesheet" href="../scss/massangers.css">
  <title>Соц.сети</title>
</head>
<body>
  <header>
    <ul class="nav">
      <li class="first"><img src="../pictures/TEXTtoQR@2x.png" alt="logo"></li>
      <li><a href="/">Главная</a></li>
      <li><a href="/instrument">Технологии</a></li>
      <li><a href="/massangers" class="active">СоцСети</a></li>
    </ul>
  </header>
  <main>
    <div class="form-button">
      <p class="callme">Свяжись с нами</p>
      <div class="content-button">
        <button class="vk" onclick="window.open('https://vk.com/ushakov_igor_sergeevich', '_blank')"><img src="../pictures/socials_vk.png" alt="ВК"></button>
        <button class="tg" onclick="window.open('https://t.me/+ivk9NyZkJmYyYTZi', '_blank')"><img src="../pictures/socials_tg.png" alt="Телеграм"></button>
        <button class="git" onclick="window.open('https://github.com/IgorUshakov05', '_blank')"><img src="../pictures/socials_github.png" alt="GitHub"></button>
      </div>
    </div>
  </main>
</body>
</html>