<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="../scss/instrument.css">
  <title>Технологии</title>
</head>

<body>
  <header>
    <ul class="nav">
      <li class="first"><img src="../pictures/TEXTtoQR@2x.png" alt="logo"></li>
      <li><a href="/">Главная</a></li>
      <li><a href="/instrument" class="active">Технологии</a></li>
      <li><a href="/massangers">СоцСети</a></li>
    </ul>
  </header>
  <main>
    <div class="content">
      <div class="all_content">
        <div class="front_end">
          <p>Frontend</p>
          <ul class="ul">
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
          </ul>
        </div>
        <div class="modules">
          <p>Модули</p>
          <ul class="ul">
            <li>FS</li>
            <li>EXPRESS</li>
            <li>PDFKIT</li>
            <li>EJS</li>
            <li>QRCODE</li>
            <li>PATH</li>
            <li>NODEMON</li>
            <li>COLOR</li>
          </ul>
        </div>
        <div class="back_end">
          <p>Backend</p>
          <ul class="ul">
            <li>EXPRESS</li>
            <li>NODEJS</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</body>

</html>