* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

$color: #FC813C;
$placeholder: #FC813C96;
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weight: 600;
$color-Decription: #FC813C96;
$color-Decription-PDF-and-border-textarea-color: #FC813CF0;
$bgcolorvk:#0077FF;
$bgcolortg:#27A6E5;
$bgcolorgithub:#231E1B;